/*
* SIZE BREAKPOINTS
*/
/*
* font family
*/
:root {
  --bg-body: #323C4D;
  --primary-colors: hsl(13deg, 68%, 61%);
  --color-title: #EFF3F5;
  --color-text: #C8CDD0;
  --bg-container: #222833;
  --border-colors: #5D6E8C;
  --navbar-color: rgba(135, 160, 204, 0.5);
}

* {
  box-sizing: border-box;
}

body.theme {
  --bg-body: #E5E5E5;
  --primary-colors: hsl(13deg, 68%, 61%);
  --color-title: #333333;
  --color-text: #404040;
  --bg-container: #BFBFBF;
  --border-colors: #FFFFFF;
  --navbar-color: rgba(255, 255, 255, 0.5);
}

.btn__theme {
  cursor: pointer;
  color: var(--primary-colors);
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  margin: 0.6rem;
  position: fixed;
  bottom: 0;
  right: 0;
}

#btnCheckbox,
#checkboxMenu {
  display: none;
}

#iconTheme {
  color: var(--color-title);
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--bg-body);
}

.article {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  transition: height 0.3s;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: var(--border-colors);
}
.navbar__icon__container {
  display: none;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 300px;
  padding: 5px;
  margin: auto 0;
}
.navbar__items {
  margin: auto 1rem auto 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  color: var(--color-text);
}
.navbar__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
  padding: 0.5rem 0.5rem;
  margin: auto 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  transition: font-size 0.3s;
  border-radius: 12px;
}
.navbar__link-banner {
  font-size: 1.5rem;
}
.navbar-shrink {
  position: fixed;
  top: 0;
  height: 70px;
  transition: height 0.3s;
}
.navbar____theme-shrink {
  transition: font-size 0.3s;
  font-size: 1rem;
}
.navbar__link-shrink {
  transition: font-size 0.3s;
  font-size: 1rem;
}
@media (max-width: 992px) {
  .navbar__theme {
    font-size: 16px;
  }
  .navbar__link {
    padding: 0.2rem 0.2rem;
    margin: auto 0.5rem;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 70px;
    position: fixed;
    flex-direction: column;
  }
  .navbar__container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2000;
    margin: 0;
  }
  .navbar__items {
    top: -240px;
    position: relative;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: var(--navbar-color);
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
  }
  .navbar__icon__container {
    display: block;
    font-size: 35px;
    color: var(--color-title);
    margin: 0.3rem;
    cursor: pointer;
  }
  .navbar__items-active {
    top: 100%;
  }
  .navbar__item {
    height: 60px;
    padding: 10px 0;
  }
  .navbar__link {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
}

.section__bgColor {
  background-color: var(--bg-container);
}

.section {
  min-height: 850px;
  height: auto;
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-short {
  height: 400px;
  padding: 5rem 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__name {
  font-size: 38px;
  color: var(--primary-colors);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.2rem;
}
.section__subName {
  display: block;
  font-size: 30px;
  color: var(--color-title);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0rem;
}
.section__title {
  color: var(--color-title);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-top: 0;
  text-align: left;
}
.section__text {
  margin-top: 0;
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.section__avatar {
  max-width: 300px;
  width: 100%;
  border-radius: 50%;
  margin-right: 2rem;
  border: 5px solid var(--primary-colors);
}
.section__img {
  max-height: 400px;
  width: 50%;
  margin: auto 0;
}
.section__navbar {
  width: 90%;
  max-width: 300px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.section__links {
  height: auto;
}
.section__link {
  text-decoration: none;
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 45px;
}
@media (max-width: 768px) {
  .section {
    top: 70px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .section__container {
    width: 100%;
  }
  .section__img {
    width: 100%;
  }
  .section__avatar {
    margin-right: 0;
  }
  .section__name {
    text-align: center;
  }
  .section__title {
    text-align: center;
  }
}

.nav {
  max-width: 450px;
  width: auto;
  min-height: 300px;
}
.nav__items {
  list-style: none;
  margin: 0.5rem;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: var(--color-text);
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--primary-colors);
}
.nav__children {
  padding-left: 0;
  display: none;
  transition: all 0.3s ease-in;
}
.nav__item {
  list-style: none;
  margin: 0.5rem;
}
.nav__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: var(--color-text);
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--border-colors);
}
.nav__children-active {
  display: inline;
  transition: display 0.1s;
}
.nav__icon {
  height: 10px;
}
.nav__icon-active {
  transform: rotate(-180deg);
}
@media (max-width: 768px) {
  .nav {
    padding-left: 0;
    margin: 0 auto;
  }
}

.cards {
  height: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-container);
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  border-radius: 12px;
  box-shadow: 2px 2px 5px var(--border-colors);
}
.card__title {
  color: var(--color-title);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.card__img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.card__paragraph {
  margin-top: 0;
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.card__btn {
  display: block;
  margin-top: 0;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 12px;
  padding: 8px;
  background-color: var(--border-colors);
  text-decoration: none;
  text-align: center;
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.footer {
  background-color: var(--bg-container);
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__title {
  color: var(--color-title);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-top: 0;
}

@media (hover: hover) {
  .section__link:hover {
    color: var(--primary-colors);
  }
  .navbar__link:hover {
    color: var(--primary-colors);
  }
}

/*# sourceMappingURL=styles.css.map */
