:root {
  --bg-body: #192229;
  --primary-colors: #52A5E0;
  --color-title: #EFF3F5;
  --color-text: #C8CDD0;
  --bg-container: #212E36;
  --border-colors: #2A3B47;
  --c__claro: #A0A7AC;
}

* {
  box-sizing: border-box;
}

body.theme {
  --bg-body: #FBFBDE;
  --primary-colors: #1083D6;
  --color-title: #2A3B47;
  --color-text: #697477;
  --bg-container: #FFFFFF;
  --border-colors: #EFF3F5;
  --c__claro: #A0A7AC;
}

#btnCheckbox,
#checkboxMenu {
  display: none;
}

#iconTheme {
  color: var(--color-title);
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--bg-body);
}

.article {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  width: 100%;
  background-color: var(--bg-container);
}
.navbar__icon__container {
  display: none;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 200px;
  padding: 5px;
  margin: 0;
}
.navbar__theme {
  cursor: pointer;
  margin: auto 0;
  color: var(--color-title);
  font-size: 16px;
  margin: auto 0.5rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
.navbar__themes {
  margin: auto 0 auto 1rem;
}
.navbar__items {
  margin: auto 1rem auto 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  color: var(--color-text);
}
.navbar__link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: var(--color-text);
  padding: 0.5rem 0.5rem;
  margin: auto 0.5rem;
  font-size: 16px;
}
.navbar__link:hover {
  transition: 0.3s;
  border-bottom: 2px solid var(--primary-colors);
  color: var(--primary-colors);
}

@media (max-width: 992px) {
  .navbar__theme {
    font-size: 16px;
  }
  .navbar__link {
    padding: 0.2rem 0.2rem;
    margin: auto 0.5rem;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar__container {
    position: absolute;
    width: 100%;
    z-index: 2000;
  }
  .navbar__items {
    top: -400px;
    position: relative;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--border-colors);
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
  }
  .navbar__icon__container {
    display: block;
    font-size: 35px;
    color: var(--color-title);
    margin: 0.3rem;
    cursor: pointer;
  }
  .navbar__items-active {
    top: 60px;
  }
  .navbar__item {
    height: 60px;
    padding: 10px 0;
  }
  .navbar__link {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
}
.section__header {
  padding: 2rem;
  border-radius: 12px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section__header__title {
  font-size: 38px;
  color: var(--primary-colors);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.2rem;
}
.section__header__subTitulo {
  display: block;
  font-size: 30px;
  color: var(--color-title);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0rem;
}

.avatar {
  width: 300px;
  border-radius: 50%;
  border: 5px solid var(--primary-colors);
}

.section__SobreMi {
  background-color: var(--bg-container);
  padding: 2rem 3rem;
  display: flex;
}
.section__SobreMi__title {
  color: var(--color-title);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.section__SobreMi__paragrahp {
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.section__SobreMi__img {
  height: 400px;
}/*# sourceMappingURL=styles.css.map */