@use 'variables';

// Tema dark
:root {
    --bg-body: #323C4D;
    --primary-colors: hsl(13deg, 68%, 61%);
    --color-title: #EFF3F5;
    --color-text: #C8CDD0;
    --bg-container: #222833;
    --border-colors: #5D6E8C;
    --navbar-color: rgba(135, 160, 204, 0.5);
}

* {
    box-sizing: border-box;
}

//Tema light
body.theme {
    --bg-body: #E5E5E5;
    --primary-colors: hsl(13deg, 68%, 61%);
    --color-title: #333333;
    --color-text: #404040;
    --bg-container: #BFBFBF;
    --border-colors: #FFFFFF;
    --navbar-color: rgba(255, 255, 255, 0.5);
}

.btn__theme {
    cursor: pointer;
    color: var(--primary-colors);
    font-family: variables.$title;
    font-size: 1.5rem;
    margin: 0.6rem;
    position: fixed;
    bottom: 0;
    right: 0;

}

#btnCheckbox,
#checkboxMenu {
    display: none;
}

#iconTheme {
    color: var(--color-title);
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--bg-body);
}

.article {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    transition: height 0.3s;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: var(--border-colors);

    &__icon__container {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 300px;
        padding: 5px;
        margin: auto 0;
    }

    &__items {
        margin: auto 1rem auto 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        color: var(--color-text);
    }

    &__link {
        text-decoration: none;
        font-family: variables.$text;
        color: var(--color-text);
        padding: 0.5rem 0.5rem;
        margin: auto 0.5rem;
        font-size: 1.3rem;
        font-weight: 700;
        transition: font-size 0.3s;
        border-radius: 12px;

        &-banner {
            font-size: 1.5rem;
        }
    }

    &-shrink {
        position: fixed;
        top: 0;
        height: 70px;
        transition: height 0.3s;
    }

    &____theme-shrink {
        transition: font-size 0.3s;
        font-size: 1rem;
    }

    &__link-shrink {
        transition: font-size 0.3s;
        font-size: 1rem;
    }

    @media (max-width: variables.$LAPTOS) {
        &__theme {
            font-size: 16px;
        }

        &__link {
            padding: 0.2rem 0.2rem;
            margin: auto 0.5rem;
            font-size: 14px;
        }
    }

    @media (max-width: variables.$TABLETS) {
        height: 70px;
        position: fixed;
        flex-direction: column;

        &__container {
            display: flex;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2000;
            margin: 0;
        }

        &__items {
            top: -240px;
            position: relative;
            padding: 0;
            flex-direction: column;
            width: 100%;
            height: 500px;
            background-color: var(--navbar-color);
            text-align: center;
            transition: 0.5s;
            z-index: 1000;
        }

        &__icon__container {
            display: block;
            font-size: 35px;
            color: var(--color-title);
            margin: 0.3rem;
            cursor: pointer;
        }

        &__items-active {
            top: 100%;
        }

        &__item {
            height: 60px;
            padding: 10px 0;
        }

        &__link {
            display: block;
            height: auto;
            margin: 0;
            width: 100%;
        }
    }
}

.section__bgColor {
    background-color: var(--bg-container);
}

.section {
    min-height: 850px;
    height: auto;
    padding: 5rem 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-short {
        height: 400px;
        padding: 5rem 2rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name {
        font-size: 38px;
        color: var(--primary-colors);
        font-family: variables.$title;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 0.2rem;
    }

    &__subName {
        display: block;
        font-size: 30px;
        color: var(--color-title);
        font-family: variables.$text;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0rem;
    }

    &__title {
        color: var(--color-title);
        font-family: variables.$title;
        font-weight: 600;
        font-size: 28px;
        margin-top: 0;
        text-align: left;
    }

    &__text {
        margin-top: 0;
        color: var(--color-text);
        font-family: variables.$text;
        font-weight: 500;
        font-size: 18px;
    }

    &__avatar {
        max-width: 300px;
        width: 100%;
        border-radius: 50%;
        margin-right: 2rem;
        border: 5px solid var(--primary-colors);
    }

    &__img {
        max-height: 400px;
        width: 50%;
        margin: auto 0;
    }

    &__navbar {
        width: 90%;
        max-width: 300px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }

    &__links {
        height: auto;
    }

    &__link {
        text-decoration: none;
        color: var(--color-text);
        font-family: variables.$text;
        font-weight: 500;
        font-size: 45px;
    }

    @media (max-width: variables.$TABLETS) {
        top: 70px;
        flex-direction: column;
        text-align: center;
        align-items: center;

        &__container {
            width: 100%;
        }

        &__img {
            width: 100%;
        }

        &__avatar {
            margin-right: 0;
        }

        &__name {
            text-align: center;
        }

        &__title {
            text-align: center;
        }

    }
}

.nav {
    max-width: 450px;
    width: auto;
    min-height: 300px;

    &__items {
        list-style: none;
        margin: 0.5rem;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        font-family: variables.$text;
        font-weight: 500;
        color: var(--color-text);
        padding: 0.5rem 0;
        border-bottom: 2px solid var(--primary-colors);
    }

    &__children {
        padding-left: 0;
        display: none;
        transition: all 0.3s ease-in;
    }

    &__item {
        list-style: none;
        margin: 0.5rem;
    }

    &__link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        font-family: variables.$text;
        font-weight: 500;
        color: var(--color-text);
        padding: 0.5rem 0;
        border-bottom: 2px solid var(--border-colors);
    }

    &__children-active {
        display: inline;
        transition: display 0.1s;
    }

    &__icon {
        height: 10px;
    }

    &__icon-active {
        transform: rotate(-180deg);
    }

    @media (max-width: variables.$TABLETS) {
        padding-left: 0;
        margin: 0 auto;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 80%;

    @media (max-width: variables.$TABLETS) {
        flex-direction: column;
    }
}

.card {
    background-color: var(--bg-container);
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    border-radius: 12px;
    box-shadow: 2px 2px 5px var(--border-colors);

    &__title {
        color: var(--color-title);
        font-family: variables.$title;
        font-weight: 600;
        font-size: 20px;
        margin-top: 0;
    }

    &__paragraph {
        margin-top: 0;
        color: var(--color-text);
        font-family: variables.$text;
        font-weight: 500;
        font-size: 16px;
    }

}

.footer {
    background-color: var(--bg-container);
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        color: var(--color-title);
        font-family: variables.$title;
        font-weight: 600;
        font-size: 28px;
        margin-top: 0;
    }



}

@media (hover: hover) {
    .section__link:hover {
        color: var(--primary-colors);
    }

    .navbar__link:hover {
        color: var(--primary-colors);

    }
}